.categories {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  margin: 1rem;
  overflow-x: hidden;
  font-size: 1.3rem;
}

.category {
  width: 14%;
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
  padding: 1rem;
  border: none;
  border-radius: 1.75rem;
  margin-top: 2rem;
  color: white;
  text-align: center;
  background-position: center;
  background-size: cover;
  cursor: pointer;
}
.container{
  display: flex;
  flex-direction: column;
}
/* .categories::-webkit-scrollbar {
    display: none;
    overflow-x:scrool;
} */
/* .category {
    -ms-overflow-style: none; 
    scrollbar-width: none; 
} */

@media screen and (max-width: 500px) {
  .categories {
    width: 100vw;
    overflow-x: scroll;
  }

  .category {
    /* width: 10rem; */
    height: 8rem;
    padding: 0.2rem 3rem;
    font-size: 1rem;
  }
}