.container{
    text-align: center;
    margin: 2rem;
    font-weight: 700;
    font-size: 1.2rem;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 2rem;
    min-height: 50vh;
    text-align: center;
    flex-wrap: wrap;
}

.nostory {
    color:gray;
    margin: 0 auto;
}

.loadmore {
    border-radius: 20px;
    color:white;
    background-color:#FF7373;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    font-weight: 700;
    border: none;
    cursor: pointer;
  
}
.loader {
    border: 4px solid #f3f3f3; /* Light grey */
    border-top: 4px solid #FF7373; /* Blue */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
    margin: 20px auto; /* Center the spinner */
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
